.add-todo {
  display: flex;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid black;
}

input[type="text"] {
  width: 100%;
  padding: 1em;
  border: none;
}
input[type="submit"] {
  width: 7em;
  border-radius: 5px;
  border: none;
}