/* You can add global styles to this file, and also import other style files */
/* * {
  outline: 1px solid red;
} */

.container {
  margin: auto;
  margin-top: 5em;
  width: 700px;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
}